@import './style';

#tab-view {
    width: 80vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 0;

    padding: 0;
    margin: 0;

    &.full-width {
        width: 100vw;

    }

    .tab-frame {
        height: 98%;
        width: 98%;

        background-color: white;

        border-radius: 8px;
        border: none;
        outline: none;

        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
    }
}